In [1]:
pip install sqlite3

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [2]:
import sqlite3

## Create a SQLite Database and Table

In [3]:
# Connect to SQLite database (it will create the database file if it doesn't exist)
conn = sqlite3.connect('mydatabase.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    email TEXT UNIQUE
)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

## Insert Data into the Database

In [4]:
# Connect to SQLite database
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Insert data into the table
cursor.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)", ('Alice', 30, 'alice@email.com'))
cursor.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)", ('Bob', 25, 'bob@email.com'))

# Commit the changes and close the connection
conn.commit()
conn.close()

## Connect to SQLite Database and Read Data

In [6]:
# Connect to SQLite database
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Select data from the table
cursor.execute("SELECT * FROM users")

# Fetch all rows
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'Alice', 30, 'alice@email.com')
(2, 'Bob', 25, 'bob@email.com')

In [ ]:
# To locate the file

In [7]:
import os

print(os.getcwd())

C:\Users\iamra\Desktop\Project

## Data frame to sql :

In [10]:
import sqlite3
import pandas as pd

# Create a DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [30, 25, 35],
        'email': ['alice@email.com', 'bob@email.com', 'charlie@email.com']}
df = pd.DataFrame(data)

# Connect to SQLite database
conn = sqlite3.connect('mydatabase.db')

# Insert DataFrame into SQLite database
df.to_sql('sample', conn, if_exists='replace', index=False)

# Commit the changes and close the connection
conn.commit()
conn.close()

## to get the tables inside database

In [11]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('mydatabase.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute SQL query to get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all table names
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the connection
conn.close()

users
sample

In [13]:
tables

[('users',), ('sample',)]

## to read as dataframe

In [15]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('mydatabase.db')

# Read table into a DataFrame
df = pd.read_sql_query("SELECT * FROM users;", conn)  # Replace 'tablename' with the actual table name

# Print the DataFrame
print(df)

# Close the connection
conn.close()

   id   name  age            email
0   1  Alice   30  alice@email.com
1   2    Bob   25    bob@email.com